<nz-layout>
  <nz-sider nzWidth="300px">
    <app-tags (addTangHandler)="addTangHandler($event)"></app-tags>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <div class="inner-content">
        <div class="container">
          <nz-empty
            *ngIf="pathToLoad === null"
            [nzNotFoundContent]="contentTpl"
            [nzNotFoundFooter]="footerTpl">
            <ng-template #contentTpl>
              <span> Please select folder with screenshots or images witch you desire to convert to text</span>
            </ng-template>
            <ng-template #footerTpl>
              <button nz-button nzType="primary" (click)="selectHandler()">Select folder</button>
            </ng-template>
          </nz-empty>

          <div *ngIf="pathToLoad !== null" [ngSwitch]="status">

            <div *ngSwitchCase="'wip'" class="wip">
              <h1 style="text-align: end;">
                <i (click)="close()" class="close" nz-icon nzType="close" nzTheme="outline"></i>
              </h1>
              <nz-spin [nzSpinning]="isLoading" nzTip="Loading...">

                <h2>{{pathToLoad}}</h2>
                <nz-row [nzGutter]="16">
                  <nz-col [nzSpan]="12">
                    <nz-statistic [nzValue]="foundImages" [nzTitle]="'Images Found'"></nz-statistic>
                  </nz-col>
                  <nz-col [nzSpan]="12">
                    <nz-statistic [nzValue]="customAllowedTypes" [nzTitle]="'Allowed image formats'"></nz-statistic>
                  </nz-col>
                </nz-row>
                <br>
                <nz-row>
                  <nz-progress style="width: 100%;" [nzPercent]="70" nzStatus="exception"></nz-progress>
                </nz-row>
                <br>
                <nz-row>

                  <button (click)="start()" class="start" nz-button nzType="primary" nzBlock>Start</button>
                </nz-row>
              </nz-spin>
            </div>

            <app-result *ngSwitchCase="'done'" status="success"
                        title="title"
                        subTitle="sub"
                        (actionHandler)="resultActionHandler($event)" >
            </app-result>
          </div>

        </div>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>


